@font-face {
    font-family: "bebas";
    src: url("../css/BebasNeue-Regular.ttf");
}

h1, h2, h3, h4 {
    font-family: 'bebas', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home {
    background: url(../assets/home-bg.png) no-repeat center top fixed;
    width: 100%;
    height: 100%;
}

.login {
    background: url(../assets/login.jpg) no-repeat center top fixed;
    width: 100%;
    height: 100%;
}

.container {
    top: 140px;
    position: relative;
    padding-bottom: 40px;

    @media (min-width: 1500px) {
        max-width: 1400px;
    }
}

html {
    background-color: #f7f7f7 !important;
}

.navbar {
    background-color: rgb(171, 186, 168);
    background-color: rgba(171, 186, 168, 0.1);
    transition: background-color .25s;

    .navbar-brand {
        color: white;
        transition: all 0.1s ease-in-out;

        &:hover {
            color: whitesmoke;
        }
    }

    .nav-link {
        color: white;
        transition: all 0.1s ease-in-out;

        &:hover {
            color: whitesmoke;
        }
    }
}

html:not([data-scroll='0']) {
    .navbar {
        background-color: rgb(171, 186,168);
        background-color: rgba(171, 186, 168, 0.9);
    }
}

body {
    background-color: transparent !important;
}

@keyframes fly-left {
    from { left: -45%; opacity: 0; }
    to { left: 0; opacity: 1; }
}

@keyframes fly-right {
    from { right: -45%; opacity: 0; }
    to { right: 0; opacity: 1; }
}

@keyframes fly-up {
    from { top: 100px; opacity: 0; }
    to { top: 0; opacity: 1; }
}

@keyframes fly-down {
    from { bottom: 100px; opacity: 0; }
    to { bottom: 0; opacity: 1; }
}

.fly-left {
    animation: fly-left 1.5s;
}

.fly-right {
    animation: fly-right 1.5s;
}

.fly-up {
    animation: fly-up 1.5s;
}

.fly-down {
    animation: fly-down 1.5s;
}

.welcome-text {
    position: relative;
    width: 45%;
    top: -40px;
    background-color: rgb(255, 255, 255); // Fallback
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px 30px;
    border-radius: 10px;
    color: dimgrey;
    fill: dimgrey;
    border: 4px solid whitesmoke;

    @media only screen and (max-width: 1200px) {
        width: 60%;
    }

    @media only screen and (max-width: 992px) {
        width: 100%;
    }

    h1 {
        font-size: 4rem;
        letter-spacing: 1px;
        text-align: center;
        border-bottom: 1px solid dimgrey;
    }

    svg {
        position: relative;
        top: -2px;
        height: 18px;
        width: 18px;
    }
}

.content {
    position: relative;
    background-color: white;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    line-height: 1.75rem;
    margin-bottom: 40px;
}

.content-start {
    background-color: rgba(255, 255, 255, 0.975);
}

.nav-phone {
    font-weight: 500;
    font-size: 24px;

    svg {
        position: relative;
        top: -2px;
        height: 26px;
        width: 26px;
    }
}

.contact {
    color: dimgrey;

    &:hover {
        text-decoration: none;
        color: darkgray;
    }
}

.login-box {
    top: -40px;
    background-color: #fff;
    display: block;
    position: relative;
    width: 50%;
    transform: translate(50%, 0);
    padding: 20px 30px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.enquire {
    margin-top: 40px;
    background-color:palegreen;
    text-align: center;
    padding: 40px;
    position: relative;
    margin-bottom: 20px 30px;
    border-radius: 4px;

    @media only screen and (max-width: 768px) {
        padding: 10px 20px;
    }

    .list-group-item {
        color: black;

        &:before {
            font-family: 'FontAwesome';
            display: inline-block;
            color: black;
            position: absolute;
            left: 15px;
            font-size: 24px;
            top: 0;
            transform: translateY(20%);
            transition: left 0.3s ease-in-out;
        }

        &:hover {
            color: rgb(100, 100, 100);
            text-decoration: none;

            &:before {
                left: 20px;
            }
        }
    }
}

.email:before {
    content: '\f0e0';
}

.phone:before {
    content: '\f095';
}

.property-manage {
    background-color: white;
    display: block;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    .manage-text {
        height: 100%;
        width: 100%;
        display: inline-block;

        h2 {
            font-size: 42px;
            width: 85%;
            color: deepskyblue;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .hover-block {
            width: 15%;
            background-color: deepskyblue;
            height: 120%;
            position: relative;
            right: 80%;
            transform: rotate(-45deg);
            bottom: -120%;
            transition: all 0.4s ease-in-out;
    
            i {
                position: relative;
                top: 105px;
                right: -45px;
                font-size: 32px;
                transform: rotate(45deg);
                color: white;

                @media only screen and (max-width: 1200px) {
                    top: 80px;
                    right: -40px;
                    font-size: 26px;
                }

                @media only screen and (max-width: 992px) {
                    top: 58px;
                    right: -30px;
                    font-size: 20px;
                }

                @media only screen and (max-width: 768px) {
                    top: 27.5%;
                    right: -50%;
                    font-size: 16px;
                }
            }
        }

        @media only screen and (max-width: 768px) {
            h2 {
                font-size: 26px;
            }
        }
    }

    &:hover {
        .hover-block {
            right: 0;
            bottom: -40%;

            @media only screen and (max-width: 1200px) {
                bottom: -45%;
            }
        }
    }
}

.view-listings {
    background-color: deepskyblue;
    display: block;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    // img {
    //     transition: all 0.3s ease-in-out;
    // }
    
    .listing-text {
        height: 100%;
        width: 100%;
        display: inline-block;
    
        h2 {
            font-size: 42px;
            width: 85%;
            margin-bottom: 20px;
            color: white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    
        .hover-block {
            width: 15%;
            background-color: white;
            height: 120%;
            position: relative;
            right: -100%;
            transform: rotate(45deg);
            bottom: -70%;
            transition: all 0.4s ease-in-out;
    
            i {
                position: relative;
                top: 90px;
                right: -20px;
                font-size: 32px;
                transform: rotate(-45deg);
                color: deepskyblue;

                @media only screen and (max-width: 1200px) {
                    top: 80px;
                    right: -15px;
                }

                @media only screen and (max-width: 992px) {
                    top: 60px;
                    right: -10px;
                    font-size: 28px;
                }

                @media only screen and (max-width: 768px) {
                    top: 25%;
                    right: -15%;
                    font-size: 20px;
                }
            }
        }
            
        @media only screen and (max-width: 768px) {
            h2 {
                font-size: 32px;
            }
        }
    }

    &:hover {
        // img {
        //     transform: scale(1.25);
        // }

        .hover-block {
            right: -80%;
            bottom: -50%;

            @media only screen and (max-width: 1200px) {
                bottom: -45%;
            }
        }
    }
}